<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @team.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="/<%= @team.image_file%>" alt="<%= @team.name %>">
      </div>
    </div>
    <% if logged_in? %>
      <%= render 'favorites/follow_button', team: @team %>
      <% if current_user.favorite?(@team) %>
        <div class="form my-5">
          <%= form_with(model: @micropost, local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', rows: 5 %>
              <%= f.hidden_field :team_id, :value => @team.id %>
            </div>
            <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <div class="timeline">
        <h2 class="text-center">タイムライン</h2>
        <ul class="list-unstyled">
            <% @microposts.each do |micropost| %>
                <li class="media mb-3">
                    <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
                    <div class="media-body">
                        <div>
                            <%= micropost.user.name %> <span class="text-muted">posted at <%= micropost.created_at %></span>
                        </div>
                        <div>
                            <p style="word-break : break-all;"><%=safe_join(micropost.content.split("\n"),tag(:br)) %></p>
                        </div>
                        <div>
                            <% if current_user == micropost.user %>
                              <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                              <%= link_to 'このメッセージを編集する', edit_micropost_path(micropost), class: 'btn btn-success btn-sm' %>
                            <% end %>
                        </div>
                    </div>
                </li>
            <% end %>
            <%= paginate @microposts %>
        </ul>
    </div>
  </div>
</div>
