<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-body">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
    <p class = "btn btn-info btn-block mt-3"><a style="color:white;" href="<%= followings_user_path(@user) %>">フォローユーザ<span class="badge badge-secondary"><%= @count_followings %></span></a></p>
    <p class = "btn btn-info btn-block"><a style="color:white;" href="<%= followers_user_path(@user) %>">フォロワー<span class="badge badge-secondary"><%= @count_followers %></span></a></p>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">タイムライン</a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入りチーム  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
    </ul>
    <ul class="list-unstyled">
       <% @likes.each do |team| %>
         <li class="media border-bottom border-primary">
           <div class="container">
             <div class="row">
               <div class="col-sm-12 text-center">
                 <img class="mr-2 rounded" src="<%= team.image_file.url if team.image_file? %>" alt="<%= team.name %>" style="max-width: 300px; max-height: 225px; width: auto; height: auto">
               </div>
               <div class="col-sm-12">
                <div class="media-body">
                   <div>
                     <%= team.name %>
                   </div>
                   <div>
                     <p><%= link_to 'View details', team_path(team) %></p>
                   </div>
                   <div class="w-50 mb-2">
                     <% if logged_in? %>
                       <%= render 'favorites/follow_button', team: team %>
                     <% end %>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </li>
       <% end %>
    </ul>
     <%= paginate @likes %>
  </div>
</div>