
<% if logged_in? %>
  <div class='home'>
      <div class='text-center'>
        　<p>ログイン完了ユーザ: <%= current_user.name %></p>
          <h1>お気に入りにサッカーチームを追加しよう！</h1>
          <h2>ここから登録<i class="far fa-hand-point-right"></i><%= link_to 'サッカーチーム一覧', teams_path %></h2>
          <img src="/premier league.jpg" alt="premier-teams" style="width: 100%; height: auto; opacity:0.5">
      </div>
  </div>
<% else %>
  <div class='home'>
      <div class='text-center'>
          <h1>好きなチームの情報を共有しよう！</h1>
          <%= link_to '今すぐ会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
          <p><%= link_to 'ログイン', login_path %></p>
          <h2><%= link_to 'サッカーチーム一覧', teams_path %></h2>
      </div>
  </div>
<% end %>