<h1>id: <%= @micropost.id %> のメッセージ編集ページ</h1>

<div class="col-sm-4 mb-3">
  <%= form_with(model: @micropost, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :content, '投稿内容' %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
      <%= f.hidden_field :team_id %>
    </div>
    <%= f.submit '投稿' %>
  <% end %>
</div>
<%= link_to '一覧に戻る', teams_path %>